<!DOCTYPE html>
<html>
  <head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<title> test</title>
  </head>
  <body>
	<div class="container text-center">
	  <form action="{{ url_for('messages') }}" method="get" class="form-horizontal" role="form">
		<div class="form-group">
		  <label>제목</label>
		  <input type="text" name="title" class="form-control">
		</div>
		<div class="form-group">
		  <label>메시지 내용</label>
		  <textarea name="msg" rows="3" class="form-control"></textarea>
		</div>
		<div class="form-group">
		  <label>발신자 전화번호</label>
		  <input type="tel" size="15" name="phone_from" class="form-control">
		</div>
		<div class="form-group">
		  <label>수신자 전화번호</label>
		  <input type="tel" size="15" name="phone" class="form-control">
		</div>
		<div class="form-group">
		  <button class="btn btn-default" type="submit">Send Message</button>
	  </form>
	  <table class="table table-bordered text-center">
		<thead>
		  <tr>
			<th class="text-center" width="10%">ID</th>
			<th class="text-center">Title</th>
			<th class="text-center">From</th>
			<th class="text-center">To</th>
		  </tr>
		</thead>
		<tbody>
		  {% for lst in List %}
		  <tr>
			<td>{{ lst.id|safe }}</td>
			<td>{{ lst.subject }}</td>
			<td>{{ lst.content }}</td>
			<td>{{ lst.callback }}</td>
			<td>{{ lst.recipent_num }}</td>
		  </tr>
		  {% endfor %}
		</tbody>
		<tbody>
		  {% for lst2 in List2 %}
		  <tr>
			<td>{{ lst2.id|safe }}</td>
			<td>{{ lst2.content }}</td>
			<td>{{ lst2.callback }}</td>
			<td>{{ lst2.recipent_num }}</td>
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	  </div>
	</div>
  </body>
</html>
